<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Employee List</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->

</head>

<body>

<h1>Employees List</h1>

<div>
    <a th:href="@{/employees/form}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Name </th>
            <th scope="col"> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${employeesList.empty}">
            <td colspan="2"> No Employees Available </td>
        </tr>
        <tr th:each="employee : ${employeesList}"
            scope="row">
            <td><span th:text="${employee.Id}"> Id </span></td>
            <td><span th:text="${employee.name}"> Name </span></td>
            <td>
                <a th:href="@{/employees/formForUpdate(employeeId=${employee.Id})}"
                   class="btn btn-info btn-sm mb-3">
                    Update
                </a>

                <a th:href="@{/employees/delete(employeeId=${employee.Id})}"
                   class="btn btn-danger btn-sm mb-3"
                   onclick="if ( !(confirm('Are you sure you want to delete this employee?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>